@import "tailwindcss";

@theme {
  --font-Atkinson: "Atkinson";
  --font-OPPOSansB: "OPPOSansB";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "OPPOSansL", Helvetica, sans-serif;
  height: 100%;
  cursor: url("/images/cursor.png"), auto;
}

@font-face {
  font-family: "NotoSanSC";
  src: url("../../public/fonts/NotoSansSC-Regular.woff2");
}

@font-face {
  font-family: "Atkinson";
  src: url("../../public/fonts/Atkinson-Hyperlegible-Regular-102.woff");
}

@font-face {
  font-family: "OPPOSansB";
  src: url("../../public/fonts/Font-OPPOSans/OPPOSans-B.ttf");
}

@font-face {
  font-family: "OPPOSansL";
  src: url("../../public/fonts/Font-OPPOSans/OPPOSans-L.ttf");
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

@keyframes scan {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(400px);
  }
}