@import "tailwindcss";

@theme {
  --font-Atkinson: "Atkinson";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "NotoSanSC", Helvetica, sans-serif;
  height: 100%;
  cursor: url("/images/cursor.png"), auto;
}

@font-face {
  font-family: "NotoSanSC";
  src: url("../../public/fonts/NotoSansSC-Regular.woff2");
}

@font-face {
  font-family: "Atkinson";
  src: url("../../public/fonts/Atkinson-Hyperlegible-Regular-102.woff");
}